<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eun.tutorial.mapper.main.ErrorHistMapper">

	<select id="selectErrorHistList" resultType="com.eun.tutorial.dto.main.ErrorHistDTO">
		SELECT ERROR_MSG, SOLUTION_MSG, id, category, severity, status, 
		responsible_person, del_yn, create_id, 
		TO_CHAR(create_dt, 'YYYY-MM-DD HH24:MI:SS') AS create_dt, 
		update_id, 
		TO_CHAR(update_dt, 'YYYY-MM-DD HH24:MI:SS') AS update_dt 
		FROM ZTHH_ERRORHIST where del_yn='N' 
		ORDER BY update_dt, create_dt
	</select>

	<insert id="insertErrorHist">
		INSERT INTO ZTHH_ERRORHIST (ERROR_MSG, SOLUTION_MSG, id, del_yn, create_id, create_dt, update_id, update_dt)
		VALUES (#{errorMsg}, #{solutionMsg}, #{id}, 'N', #{createId}, CURRENT_TIMESTAMP, #{updateId}, CURRENT_TIMESTAMP)
	</insert>

	<update id="updateErrorHist">
		UPDATE ZTHH_ERRORHIST SET 
			SOLUTION_MSG = #{solutionMsg}, 
			category = #{category}, 
			severity = #{severity}, 
			status = #{status}, 
			responsible_person = #{responsiblePerson}, 
			update_dt = CURRENT_TIMESTAMP
		WHERE id = #{id}
	</update>

	<delete id="deleteErrorHist">
		DELETE FROM ZTHH_ERRORHIST WHERE id = #{id}
	</delete>
	
	<delete id="delete" parameterType="int"> 
	  <![CDATA[
	    DELETE FROM ZTHH_ERRORHIST 
	    where CREATE_DT < CURRENT_DATE - #{deleteDay, jdbcType=INTEGER, javaType=int}
	    and SOLUTION_MSG IS null
	   ]]>
	</delete>    	

	<select id="getErrorHistListById" parameterType="string" resultType="com.eun.tutorial.dto.main.ErrorHistDTO">
		SELECT ERROR_MSG, SOLUTION_MSG, id, del_yn, create_id, create_dt, update_id, update_dt FROM ZTHH_ERRORHIST
		WHERE id = #{id}
		ORDER BY update_dt, create_dt
	</select>
	
    <select id="getErrorCountByDate" resultType="java.util.Map">
        SELECT TO_CHAR(create_dt,'YYYY/MM/DD') AS error_date, COUNT(*) AS error_count
        FROM ZTHH_ERRORHIST
        WHERE create_dt >= TRUNC(CURRENT_TIMESTAMP) - 6 
        GROUP BY TO_CHAR(create_dt,'YYYY/MM/DD')
        ORDER BY TO_CHAR(create_dt,'YYYY/MM/DD')
    </select>	

</mapper>