<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eun.tutorial.mapper.main.UserManageMapper">

	<select id="selectUserManageList" resultType="com.eun.tutorial.dto.main.UserManageDTO">
		SELECT USERNAME, PASSWORD, EMAIL, SALT, ROLE, PICTURE, ENABLE, 
		TO_CHAR(last_login_dt, 'YYYY-MM-DD HH24:MI:SS') AS last_login_dt, 
		user_time_zone, date_time_formatter,
		create_id, TO_CHAR(TO_DATE(create_time, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS create_time, 
		update_id, TO_CHAR(TO_DATE(update_time, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS update_time 
		FROM ZTHM_USER ORDER BY update_time, create_time
	</select>

	<insert id="insertUserManage">
		INSERT INTO ZTHM_USER (USERNAME, PASSWORD, EMAIL, ROLE, PICTURE, SALT, ENABLE, create_id, create_time, update_id, update_time)
		VALUES (#{username}, #{password}, #{email}, #{role}, #{picture}, #{salt}, #{isEnable}, #{createId}, to_char(CURRENT_DATE,'yyyymmddhh24miss'), #{updateId}, to_char(CURRENT_DATE,'yyyymmddhh24miss'))
	</insert>

	<update id="updateUserManage">
		UPDATE ZTHM_USER
		SET PASSWORD = #{password}, EMAIL = #{email}, ROLE = #{role}, PICTURE = #{picture}, ENABLE = #{isEnable}, update_id = #{updateId}, update_time = to_char(CURRENT_DATE,'yyyymmddhh24miss')
		WHERE username = #{username}
	</update>

	<delete id="deleteUserManage">
		UPDATE ZTHM_USER SET ENABLE ='N', update_time = to_char(CURRENT_DATE,'yyyymmddhh24miss') WHERE username = #{username}
	</delete>

	<select id="getUserManageListById" parameterType="string" resultType="com.eun.tutorial.dto.main.UserManageDTO">
		SELECT USERNAME, PASSWORD, EMAIL, SALT, ROLE, PICTURE, ENABLE, 
		TO_CHAR(last_login_dt, 'YYYY-MM-DD HH24:MI:SS') AS last_login_dt, 
		user_time_zone, date_time_formatter,
		create_id, TO_CHAR(TO_DATE(create_time, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS create_time, 
		update_id, TO_CHAR(TO_DATE(update_time, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS update_time 
		FROM ZTHM_USER
		WHERE username = #{username}
		ORDER BY update_time, create_time
	</select>

</mapper>